h3{
    color: blue;
}

img { 
    width:40%;
    height:50%;
}

.stark{

color:green

}

.batman{
    color: blue;
}

h2{
    color: green;
}

.h4{
    color: blue;
}



.form_div{
    display: flex;
    flex-direction: column;
}


.register-form{

    display: flex;
    flex-direction: column;
    gap: 5px;
}