{% extends 'index.html' %}
{% load static %}

    {% block content %}

    <h2>This is home page</h2>

<div>
    <h1>fill the form to add products </h1>

    
    <form action="{% url 'home_url' %}" method="POST">
        {% csrf_token %}
     <div class="form_div">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="enter product name">
         <!-- <br> -->
        <label for="">Description</label>
        <input type="text" name="descrition" placeholder="enter descrition">
         <!-- <br> -->
        <label for="">price</label>
        <input type="text" name="price" placeholder="enter descrition">
        <button type="submit">Add product</button>
        </div>
    </form>


</div>


<div>
    <h1>The below products are fetched from backend </h1>
    {% for item in products %}
        <h2>product Name : {{item.product_name}}</h2>
        <p>product Description :{{item.product_desc}}</p>
    {% endfor %}
</div>

    {% endblock %}

